1 - Buscando dados das planilhas

In [28]:
import pandas as pd

csv_file = 'PDA_Dados_Cursos_Graduacao_Brasil.csv'  

tabela = pd.read_csv(csv_file)
display(tabela)

,CODIGO_IES,NOME_IES,CATEGORIA_ADMINISTRATIVA,ORGANIZACAO_ACADEMICA,CODIGO_CURSO,NOME_CURSO,GRAU,AREA_OCDE,MODALIDADE,SITUACAO_CURSO,QT_VAGAS_AUTORIZADAS,CARGA_HORARIA,CODIGO_AREA_OCDE_CINE,AREA_OCDE_CINE,CODIGO_MUNICIPIO,MUNICIPIO,UF,REGIAO
0,4751,CENTRO UNIVERSITÁRIO UNIFATECIE,Privada com fins lucrativos,Centro Universitário,1556773,ENGENHARIA AGRONÔMICA,Bacharelado,Agronomia,Educação a Distância,Em atividade,1000,4400,301,Agronomia,3541406,Presidente Prudente,SP,SUDESTE
1,1491,CENTRO UNIVERSITÁRIO INTERNACIONAL,Privada com fins lucrativos,Centro Universitário,1186955,LETRAS,Licenciatura,Formação de professor de língua/literatura ver...,Educação a Distância,Em atividade,3000,3992,58,Formação de professor de língua/literatura ver...,2516201,Sousa,PB,NORDESTE
2,1472,CENTRO UNIVERSITÁRIO LEONARDO DA VINCI,Privada com fins lucrativos,Centro Universitário,99950,GEOGRAFIA,Licenciatura,Formação de professor de geografia,Educação a Distância,Em atividade,7620,3500,39,Formação de professor de geografia,2800308,Aracaju,SE,NORDESTE
3,221,UNIVERSIDADE CRUZEIRO DO SUL,Privada com fins lucrativos,Universidade,1467998,EDUCAÇÃO FÍSICA,Bacharelado,Educação física,Educação a Distância,Em atividade,1200,3200,328,Educação física,4113205,Lapa,PR,SUL
4,1472,CENTRO UNIVERSITÁRIO LEONARDO DA VINCI,Privada com fins lucrativos,Centro Universitário,1516788,SERVIÇOS PENAIS,Tecnológico,NaN,Educação a Distância,Em atividade,1500,1980,357,Serviços penais,2601706,Belo Jardim,PE,NORDESTE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
902671,163,UNIVERSIDADE ESTÁCIO DE SÁ,Privada com fins lucrativos,Universidade,1518220,CIÊNCIA DE DADOS,Tecnológico,NaN,Educação a Distância,Em atividade,2589,2086,456,Ciência de dados,4300604,Alvorada,RS,SUL
902672,1491,CENTRO UNIVERSITÁRIO INTERNACIONAL,Privada com fins lucrativos,Centro Universitário,1468267,MÚSICA,Licenciatura,Formação de professor de música,Educação a Distância,Em atividade,1700,3992,42,Formação de professor de música,2704302,Maceió,AL,NORDESTE
902673,1491,CENTRO UNIVERSITÁRIO INTERNACIONAL,Privada com fins lucrativos,Centro Universitário,1185929,CIÊNCIAS CONTÁBEIS,Bacharelado,Ciências contábeis,Educação a Distância,Em atividade,4500,3260,138,Ciências contábeis,3554003,Tatuí,SP,SUDESTE
902674,298,Universidade Pitágoras Unopar Anhanguera,Privada com fins lucrativos,Universidade,97329,MARKETING,Tecnológico,NaN,Educação a Distância,Em atividade,6000,1700,158,Marketing,2601102,Araripina,PE,NORDESTE
902675,3840,CENTRO UNIVERSITÁRIO FACVEST,Privada com fins lucrativos,Centro Universitário,1375316,CIÊNCIA DA COMPUTAÇÃO,Bacharelado,Ciência da computação,Educação a Distância,Em atividade,300,3215,194,Ciência da computação,3162104,São Gotardo,MG,SUDESTE

2 - Visualizando colunas da tabela

In [29]:
tabela.head()

,CODIGO_IES,NOME_IES,CATEGORIA_ADMINISTRATIVA,ORGANIZACAO_ACADEMICA,CODIGO_CURSO,NOME_CURSO,GRAU,AREA_OCDE,MODALIDADE,SITUACAO_CURSO,QT_VAGAS_AUTORIZADAS,CARGA_HORARIA,CODIGO_AREA_OCDE_CINE,AREA_OCDE_CINE,CODIGO_MUNICIPIO,MUNICIPIO,UF,REGIAO
0,4751,CENTRO UNIVERSITÁRIO UNIFATECIE,Privada com fins lucrativos,Centro Universitário,1556773,ENGENHARIA AGRONÔMICA,Bacharelado,Agronomia,Educação a Distância,Em atividade,1000,4400,301,Agronomia,3541406,Presidente Prudente,SP,SUDESTE
1,1491,CENTRO UNIVERSITÁRIO INTERNACIONAL,Privada com fins lucrativos,Centro Universitário,1186955,LETRAS,Licenciatura,Formação de professor de língua/literatura ver...,Educação a Distância,Em atividade,3000,3992,58,Formação de professor de língua/literatura ver...,2516201,Sousa,PB,NORDESTE
2,1472,CENTRO UNIVERSITÁRIO LEONARDO DA VINCI,Privada com fins lucrativos,Centro Universitário,99950,GEOGRAFIA,Licenciatura,Formação de professor de geografia,Educação a Distância,Em atividade,7620,3500,39,Formação de professor de geografia,2800308,Aracaju,SE,NORDESTE
3,221,UNIVERSIDADE CRUZEIRO DO SUL,Privada com fins lucrativos,Universidade,1467998,EDUCAÇÃO FÍSICA,Bacharelado,Educação física,Educação a Distância,Em atividade,1200,3200,328,Educação física,4113205,Lapa,PR,SUL
4,1472,CENTRO UNIVERSITÁRIO LEONARDO DA VINCI,Privada com fins lucrativos,Centro Universitário,1516788,SERVIÇOS PENAIS,Tecnológico,NaN,Educação a Distância,Em atividade,1500,1980,357,Serviços penais,2601706,Belo Jardim,PE,NORDESTE

3 - Verificando quais são as principais informações que a tabela apresenta.

In [30]:
tabela.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 902676 entries, 0 to 902675
Data columns (total 18 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   CODIGO_IES                902676 non-null  int64
 1   NOME_IES                  902676 non-null  object
 2   CATEGORIA_ADMINISTRATIVA  902676 non-null  object
 3   ORGANIZACAO_ACADEMICA     902676 non-null  object
 4   CODIGO_CURSO              902676 non-null  int64
 5   NOME_CURSO                902676 non-null  object
 6   GRAU                      902676 non-null  object
 7   AREA_OCDE                 680577 non-null  object
 8   MODALIDADE                902676 non-null  object
 9   SITUACAO_CURSO            902676 non-null  object
 10  QT_VAGAS_AUTORIZADAS      902676 non-null  int64
 11  CARGA_HORARIA             902676 non-null  int64
 12  CODIGO_AREA_OCDE_CINE     902649 non-null  object
 13  AREA_OCDE_CINE            902649 non-null  object
 14  CODIGO_MUNICIPIO          902676 non-null  int64
 15  MUNICIPIO                 902676 non-null  object
 16  UF                        902676 non-null  object
 17  REGIAO                    902676 non-null  object
dtypes: int64(5), object(13)
memory usage: 124.0+ MB

4 - Descrição geral dos componentes da tabela.

In [31]:
tabela.describe()

,CODIGO_IES,CODIGO_CURSO,QT_VAGAS_AUTORIZADAS,CARGA_HORARIA,CODIGO_MUNICIPIO
count,902676.000000,9.026760e+05,902676.000000,902676.000000,9.026760e+05
mean,1467.489141,1.275298e+06,6381.206556,2686.126029,3.338364e+06
std,2468.932402,6.064209e+05,14285.560618,1053.743238,9.886000e+05
min,1.000000,1.000000e+00,0.000000,0.000000,1.100015e+06
25%,322.000000,1.285815e+06,764.000000,1920.000000,2.901007e+06
50%,1196.000000,1.440098e+06,2000.000000,2580.000000,3.304557e+06
75%,1491.000000,1.541397e+06,5000.000000,3324.000000,4.114609e+06
max,26777.000000,5.001705e+07,150000.000000,400000.000000,9.000001e+06

5 - Tabela separada somente por nome da instituição, curso e grau.

In [32]:
tabela[['NOME_IES', 'NOME_CURSO', 'GRAU']]

,NOME_IES,NOME_CURSO,GRAU
0,CENTRO UNIVERSITÁRIO UNIFATECIE,ENGENHARIA AGRONÔMICA,Bacharelado
1,CENTRO UNIVERSITÁRIO INTERNACIONAL,LETRAS,Licenciatura
2,CENTRO UNIVERSITÁRIO LEONARDO DA VINCI,GEOGRAFIA,Licenciatura
3,UNIVERSIDADE CRUZEIRO DO SUL,EDUCAÇÃO FÍSICA,Bacharelado
4,CENTRO UNIVERSITÁRIO LEONARDO DA VINCI,SERVIÇOS PENAIS,Tecnológico
...,...,...,...
902671,UNIVERSIDADE ESTÁCIO DE SÁ,CIÊNCIA DE DADOS,Tecnológico
902672,CENTRO UNIVERSITÁRIO INTERNACIONAL,MÚSICA,Licenciatura
902673,CENTRO UNIVERSITÁRIO INTERNACIONAL,CIÊNCIAS CONTÁBEIS,Bacharelado
902674,Universidade Pitágoras Unopar Anhanguera,MARKETING,Tecnológico
902675,CENTRO UNIVERSITÁRIO FACVEST,CIÊNCIA DA COMPUTAÇÃO,Bacharelado

6 - Verificando quantidade e quais cidades existem os cursos procurados.

In [53]:
curso_procurado = "ENGENHARIA DA COMPUTAÇÃO"

cidades_do_curso = tabela[tabela['NOME_CURSO'] == curso_procurado]['MUNICIPIO'].unique()

quantidade_de_cidades = len(cidades_do_curso)

print("Quantidade de cidades onde o curso está disponível:", quantidade_de_cidades)
print(cidades_do_curso)

Quantidade de cidades onde o curso está disponível: 43
['Campo Grande' 'Pato Branco' 'Recife' 'Macaé' 'São Luís'
 'Arroio dos Ratos' 'Salvador' 'Rio de Janeiro' 'Manaus' 'Sorocaba'
 'Viamão' 'Londrina' 'São José do Rio Preto' 'São Paulo'
 'São José dos Campos' 'Campinas' 'Santo André' 'Araras' 'Caxias do Sul'
 'Goiânia' 'Brasília' 'Canoas' 'Teutônia' 'Santa Maria' 'Bagé' 'Santos'
 'Montenegro' 'Campos do Jordão' 'Belém' 'Araraquara' 'Guaíba' 'Curitiba'
 'Jacareí' 'Natal' 'Vitória' 'Taboão da Serra' 'Tramandaí' 'Porto Alegre'
 'Lajeado' 'São Mateus' 'São Leopoldo' 'Itatiba' 'Gravataí']

In [46]:
curso_procurado = "ENGENHARIA DE SOFTWARE"

cidades_do_curso = tabela[tabela['NOME_CURSO'] == curso_procurado]['MUNICIPIO'].unique()

quantidade_de_cidades = len(cidades_do_curso)

print("Quantidade de cidades onde o curso está disponível:", quantidade_de_cidades)

print(cidades_do_curso)

Quantidade de cidades onde o curso está disponível: 2028
['Bragança' 'Tucumã' 'Divinópolis' ... 'Encruzilhada'
 'Marechal Thaumaturgo' 'Parelhas']

In [66]:
curso_procurado = "ANÁLISE E DESENVOLVIMENTO DE SISTEMAS"

cidades_do_curso = tabela[tabela['NOME_CURSO'] == curso_procurado]['MUNICIPIO'].unique()

quantidade_de_cidades = len(cidades_do_curso)

print("Quantidade de cidades onde o curso está disponível:", quantidade_de_cidades)

print(cidades_do_curso)

Quantidade de cidades onde o curso está disponível: 2570
['Timbó' 'Águas Lindas de Goiás' 'Barão de Cocais' ... 'Mucajaí'
 'Conceição do Castelo' 'São Gonçalo do Pará']

7 - Verificando a modalidade dos cursos e quantidades por cidade.

In [61]:
contagem_cursos_por_cidade = tabela.groupby(['MUNICIPIO', 'MODALIDADE'])['CODIGO_CURSO'].count().reset_index()

display(contagem_cursos_por_cidade)

            MUNICIPIO            MODALIDADE  CODIGO_CURSO
0     Abadia de Goiás  Educação a Distância            10
1           Abadiânia  Educação a Distância            64
2          Abaetetuba   Educação Presencial            49
3          Abaetetuba  Educação a Distância           646
4              Abaeté   Educação Presencial             7
...               ...                   ...           ...
4720     Águia Branca  Educação a Distância            30
4721  Álvares Machado  Educação a Distância            95
4722    Érico Cardoso  Educação a Distância             5
4723           Óbidos   Educação Presencial             2
4724           Óbidos  Educação a Distância           508

[4725 rows x 3 columns]

8 - Verificando quantidade de cursos oferecidos por Instituição e total de Instituições.

In [62]:
contagem_instituicoes = tabela['NOME_IES'].value_counts().reset_index()

contagem_instituicoes.columns = ['Nome da Instituição', 'Quantidade de Cursos']

total_instituicoes = tabela['NOME_IES'].nunique()

print("Total de Instituições:", total_instituicoes)

display(contagem_instituicoes)

Total de Instituições: 3672

                                   Nome da Instituição  Quantidade de Cursos
0               CENTRO UNIVERSITÁRIO LEONARDO DA VINCI                125921
1                   CENTRO UNIVERSITÁRIO INTERNACIONAL                 87497
2                                 UNIVERSIDADE CESUMAR                 86741
3             Universidade Pitágoras Unopar Anhanguera                 80052
4                                UNIVERSIDADE PAULISTA                 41056
...                                                ...                   ...
3667                                  Faculdade PECEGE                     1
3668  FACULDADE BRASILEIRA DE ESTUDOS AVANÇADOS -FABEA                     1
3669              Faculdade Norte e Nordeste do Brasil                     1
3670                FACULDADE DE ODONTOLOGIA DO RECIFE                     1
3671             FACULDADE PITÁGORAS UNOPAR DE CANINDÉ                     1

[3672 rows x 2 columns]

9 - Comparativo entre Categoria administrativa com os tipos de organização academica.

In [60]:
tabela_comparativa = pd.crosstab(tabela['ORGANIZACAO_ACADEMICA'], tabela['CATEGORIA_ADMINISTRATIVA'])

display(tabela_comparativa)

CATEGORIA_ADMINISTRATIVA,Especial,Privada com fins lucrativos,Privada sem fins lucrativos,Pública Estadual,Pública Federal,Pública Municipal
ORGANIZACAO_ACADEMICA,,,,,,
Centro Federal de Educação Tecnológica,0,0,0,0,64,0
Centro Universitário,152,397767,47356,18,1,134
Faculdade,194,35593,9321,614,54,344
Instituição Especialmente Credenciada para oferta de cursos lato sensu,0,0,1,0,0,0
"Instituto Federal de Educação, Ciência e Tecnologia",0,0,0,0,2816,0
Universidade,437,328094,55345,9348,11867,3156